.border_style_double{
	border: 2px double #1E90FF;
	padding: 3px;
	margin-bottom: 5px;
    height: 50ch;
	width: 100ch;
	display: inline-block;
	}
.select_style{
	height: 50ch;
	width: 35ch;
	display: inline-block;
	margin-bottom: 9px;
	padding: 3px;
}
.msg_style{
	height: 10ch;
	width: 135ch;
}
.input_style{
	height: 4ch;
	width: 42ch;
}